* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
    /* border: 2px solid red; */
}

.right {
    width: 75vw;
    /* border: 2px solid red; */
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    gap: 13px;
    color: grey;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a {
    color: grey;

}

.right {
    margin: 16px 0;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34 34 34);
}

.header>* {
    padding: 20px;

}

.spotify-Playlist {
    padding: 16px;
}

.card-container {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: scroll;
    max-height: 70vh;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 168px;
    right: 17px;
    opacity: 0;
    transition: all 1s ease-out;
}

.buttons>* {
    margin: 0 12px;

}

.signupbtn {
    background-color: rgb(34 34 34);
    color: rgb(82, 82, 82);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
}

.signupbtn:hover {
    font-size: 17px;
    color: white;
}

.loginbtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    font-weight: bold;
    padding: 10px;
    width: 79px;
    font-size: 16px;
    cursor: pointer;
}

.loginbtn:hover {
    font-weight: bold;
    font-size: 17px;
}

.playbar {
    position: fixed;
    bottom: 30px;
    filter: invert(1);
    background: #e2d9d9;
    border-radius: 15px;
    width: 90%;
    width: 70vw;
    padding: 12px;
    height: 50px;
}

.songsbtn {
    display: flex;
    justify-content: center;
    gap: 16px;
    cursor: pointer;
}

.songlist {
    height: 544px;
    overflow: auto;
    margin-bottom: 44px;
}

.songlist ul {
    /* font-size: ; */
    padding: 0 12px;

}

.songlist ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 0;
    padding: 12px;
    border-radius: 5px;
}

.songlist .info {
    font-size: 13px;
}

.playnow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playnow span {
    font-size: 15px;
    width: 72px;
    padding: 10px;
}

.seekbar {
    height: 2px;
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    margin: 4px;
    cursor: pointer;

}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.songsbtn img {
    cursor: pointer;
}

.songinfo,
.songtime {
    color: black;
    padding: 0 12px;

}

.playsonglist {
    display: flex;
    justify-content: space-between;

}